.todoFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    
}


.todoForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
    align-items: center;
    width: 80%;
    max-width: 600px;
    background-color: #592E83;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.todoForm .MuiTypography-root {
    color: #CAA8F5;
}


.todoForm form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    width: 100%;
}

.todoForm .MuiTextField-root,
.todoForm .MuiFormControl-root {
    margin: 8px 0;
    width: 100%;
}

.todoForm .MuiButton-root {
    background-color: #9984D4;
    color: #ffffff;
    margin: 15px 0;
}

.todoForm .MuiButton-root:hover {
    background-color: #CAA8F5;
}


.taskList {
    width: 80%;
    max-width: 600px;
    margin-top: 20px;
    background-color: #592E83;
    padding: 20px;
    border-radius: 8px;
}

.taskItem {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
margin: 10px 0;
border: 1px solid #CAA8F5;
border-radius: 4px;
}

.taskDetails {
flex-grow: 1;
}

.taskDetails .MuiTypography-root {
color: #CAA8F5;
}

.taskActions .MuiIconButton-root {
color: #CAA8F5;
}
