.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #592E83;
}

.leftLogin, .rightLogin {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightLogin {
    height: 100vh;
    background-color: #CAA8F5;
}

.loginForm {
    width: 100%;
    max-width: 400px;
    padding: 16px;
    background-color: #592E83;
    border-radius: 8px;
}

.loginForm .MuiTypography-root {
    color: #ffffff;
}

.loginForm .MuiTextField-root {
    margin: 8px 0;
}

.loginForm .MuiButton-root {
    background-color: #9984D4;
    color: #ffffff;
    margin: 15px 0;
}

.loginForm .MuiButton-root:hover {
    background-color: #CAA8F5;
}

.loginImg img {
    width: 100%;
}

.loginForm .signup-link {
    margin-top: 16px;
    text-align: center;
    color: #CAA8F5;
}

.loginForm .signup-link a {
    color: #CAA8F5;
    text-decoration: none;
    font-weight: bold;
}

.loginForm .signup-link a:hover {
    color: #CAA8F5;
}

@media (max-width: 600px) {
    .Login {
        flex-direction: column;
    }

    .leftLogin {
        order: -1;
    }
}
