.modalContainer {
    padding: 20px;
    color: #592E83;
    background-color: #fff;
    margin: auto;
    margin-top: 10%;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modalTitle {
    margin-bottom: 16px;
    color: #592E83;
}

.textField {
    margin-bottom: 16px;
}

.modalContainer .saveButton {
    width: 50%;
    margin-top: 5px;
    background-color: #230C33;
    color: white;
}

.saveButton:hover {
    background-color: #592E83;
}


@media (max-width:603px) {
    .modalContainer {
        width: 200px;
    }
}